body{
    width: 1200px;
}


.navbar{
    width: 1200px;
}
.navbar-menu{
    margin-left: 100px;
    padding: 0;
    text-align: center;
}
.navbar-item a{
    text-decoration: none;
    color: grey;
}
.navbar-item:hover a{
    color: #34c9cb;
}
.navbar-item:hover{
    background-color: blue;
}
.navbar-item{
    margin-right: 1200px;
    margin-bottom: -75px;
    display: inline-block;
    padding: 26px 10px;
    float: left;
}
.navbar-item:after{
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    vertical-align: middle;
    margin-left: 3px;
}


.box{
    width: 300px;
    height: 400px;
    border: 5px solid lightgray;

}
.planshet{
    color: grey;
    margin-left: 15px;
    margin-top: 5px;
}
.yangi{
    width: 60px;
    background-color: green;
    color: white;
    margin-left: 80px;
    margin-top: -20px;
    text-align: center;
}
.smartfon{
    margin-left: 15px;
}
.ds{
    margin-left: 15px;
}
img{
    width: 70px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 0;
}
.badge1{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    background-color: orange;
    border-radius: 35px;
    position: fixed;
    left: 230px;
    top: 110px;
    line-height: 6px;
    float: left;
}
.badge2{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    background-color: orange;
    border-radius: 35px;
    position: fixed;
    left: 460px;
    top: 110px;
    line-height: 6px;
    float: left;
}
.badge3{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    background-color: orange;
    border-radius: 35px;
    position: fixed;
    left: 630px;
    top: 110px;
    line-height: 6px;
    float: left;
}
.badge4{
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    background-color: orange;
    border-radius: 35px;
    position: fixed;
    left: 9200px;
    top: 110px;
    line-height: 6px;
}
.rasm{
    background-image: url("../rasmlar/cam.png");
    width: 230px;
    height: 230px;
    margin-left: 35px;
    margin-top: 0;
    background-repeat: no-repeat;
}

.som{
    text-decoration: line-through;
    margin-left: 120px;
}
.narx{
    width: 200px;
    height: 30px;
    margin-left: 120px;
}
.besh{
    margin-left: 120px;
    background-color: yellow;
    width: 50px;
}
.eco{
    margin-left: 175px;
    margin-top: -18px;
}
.cegirma{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    margin-top: -40px;
}







